.idea/
installation_files/Crossplatform/__pycache__/
installation_files/Install_Zeuz_Node_Logs.log
installation_files/TestNode_Android_Logs.log
installation_files/TestNode_Core_Logs.log
installation_files/TestNode_PerformanceTest_Logs.log
installation_files/Windows/__pycache__/
installation_files/Zeuz_Node/Install_Zeuz_Node.py.bak
installation_files/Zeuz_Node/__pycache__/
build/
dist/
beta.zip
installation_files/Mac/__pycache__/
installation_files/Linux/__pycache__/
*env/
